@use "../../utils.scss";

.a-smart-table {
  width: 100%;
  border-collapse: collapse;
  --paginator-background: rgb(230, 230, 230);

  caption {
    &,
    &.top-paginator {
      caption-side: top !important;
    }

    &.bottom-paginator {
      caption-side: bottom !important;
    }
  }

  thead,
  .paginator-wrapper {
    background: var(--paginator-background);
    color: inherit;
  }

}
