#macchine-difformi {
    .table-controls {
        margin-bottom: .5rem;
    }

    .btn {
        min-width: auto !important;
    }
}

#goBackButton {
    margin-left: .5rem;
    margin-bottom: .5rem;
}