<div class="form-ispezione" [formGroup]="form">
    <div *ngIf="form.get('ispezione')" formGroupName="ispezione">
        <div class="form-field">
            <div class="form-field">
                <label for="per_conto_di" class="form-label">ASL Competente</label>
                <select #perconodi class="form-select" id="per_conto_di" formControlName="per_conto_di">
                    <optgroup *ngFor="let e of aslPerContoDi" [label]="e.descr">
                        <option *ngFor="let c of e.children" [value]="c.id_ente_uo">{{c.descr_ente_uo}}</option>
                    </optgroup>
                </select>
            </div>
            <label for="ente_isp" class="form-label">Ente</label>
            <select #ente class="form-select" id="id_ente_uo" formControlName="id_ente_uo" (change)="patchValue('ispezione.descr_ente_uo', ente.value, {
                    set: entiUopTreeChildren,
                    toFind: 'id_ente_uo',
                    toPick: 'descr_ente_uo'
                })">
                <optgroup *ngFor="let e of entiUopTree" [label]="e.descr">
                    <option *ngFor="let c of e.children" [value]="c.id_ente_uo">{{c.descr_ente_uo}}</option>
                </optgroup>
            </select>
        </div>
        
        <div class="form-field">
            <label for="id_motivo_isp" class="form-label">Motivo</label>
            <select #motivo class="form-select" id="id_motivo_isp" formControlName="id_motivo_isp" (change)="patchValue('ispezione.desc_motivo_isp', motivo.value, {
                    set: motivi,
                    toFind: 'id_motivo_isp',
                    toPick: 'desc_motivo_isp'
                })">
                <option *ngFor="let m of motivi" [value]="m.id_motivo_isp">{{m.descr}}</option>
            </select>
        </div>
        <div class="form-field">
            <fieldset id="cantiere_o_impresa">
                <label class="form-label d-block">Tipo</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="cantiere_o_impresa" id="cantiere"
                        formControlName="cantiere_o_impresa" value="Cantiere">
                    <label class="form-check-label" for="cantiere">Cantiere</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="cantiere_o_impresa" id="impresa"
                        formControlName="cantiere_o_impresa" value="Impresa">
                    <label class="form-check-label" for="impresa">Impresa</label>
                </div>
            </fieldset>
        </div>
        <div class="form-field">
            <label for="data_ispezione" class="form-label">Data</label>
            <input type="date" class="form-control" id="data_ispezione" formControlName="data_ispezione">
        </div>
        <div class="form-field">
            <label for="id_stato_ispezione">Stato</label>
            <select #stato class="form-select" id="id_stato_ispezione" formControlName="id_stato_ispezione" (change)="patchValue('ispezione.descr_stato_ispezione', stato.value, {
                    set: data.stati_ispezione_successivi,
                    toFind: 'id_stato_ispezione_prossimo',
                    toPick: 'descr_stato_ispezione_prossimo'
                })">
                <option *ngFor="let s of data.stati_ispezione_successivi"
                    [value]="s.id_stato_ispezione_prossimo">
                    {{s.descr_stato_ispezione_prossimo}}
                </option>
            </select>
        </div>
        <div class="form-field">
            <label for="descr_isp" class="form-label">Descrizione</label>
            <input class="form-control" id="descr_isp" formControlName="descr_isp">
        </div>
        <div class="form-field">
            <label for="note" class="form-label">Note</label>
            <textarea class="form-control no-resize" id="note" formControlName="note" rows="8"></textarea>
        </div>
    </div>
</div>
