@use "../../a-data-deck.component.scss";

.a-deck-filter {
  select, option {
    text-transform: capitalize;
  }

  .form-group {
    margin: .5rem 0;

    &:first-child {
      margin-top: 0;
    }
  }

  .button-wrapper {
    margin-top: 1rem;
  }
}

