**/config/*.js
**/environments/*.ts

**/*.pdf
**/*.doc
**/*.docx
**/sicurezza_lavoro/README*
**/sicurezza_lavoro/LICENSE*
**/*.odt

**/NodeJsServer/routes/ispezioni.js
**/NodeJsServer/routes/sanzioni.js
**/NodeJsServer/routes/macchine.js

**/NodeJsServer/pagopa/pagopa.js
**/NodeJsServer/utils/cron.js

**/AngularClient/src/app/user/ispezioni/*
**/AngularClient/src/app/user/sanzioni/*
**/AngularClient/src/app/forms/forms-prototypes/*
