<div id="verbale-editor" class="editor editor-verbale-generico" *ngIf="verbale">

    <form id="verbale-form" [formGroup]="verbaleForm" (ngSubmit)="onSubmit()">
        <div formGroupName="verbale">
            <div class="header-verbale">
                <h1>VERBALE DI SOPRALLUOGO</h1>
                <div class="form-field">
                    <label>n° </label>
                    <input id="numero_verbale" formControlName="numero_verbale">
                </div>
            </div>
            <div class="body-verbale">
                <section>
                    <div class="wrapper">
                        <div class="form-field">
                            Il/la sottoscritto/a
                        </div>
                        Ufficiale di P.G.
                        <div class="form-field">
                            <input formControlName="ispettore" type="text">
                        </div>
                        <label>in data odierna, alle ore</label>
                        <div class="form-field">
                            <input type="time" formControlName="ora_sopralluogo">
                        </div>
                    </div>
                    <div class="wrapper">
                        <label>presente il sig.</label>
                        <div class="form-field">
                            <input formControlName="nome_persona_presente" type="text">
                        </div>
                        <label>nato a</label>
                        <div class="form-field">
                            <input type="text" formControlName="comune_nascita">
                        </div>
                        <label>il</label>
                        <div class="form-field">
                            <input type="date" formControlName="data_nascita">
                        </div>
                    </div>
                    <div class="wrapper">
                        <label>residente in</label>
                        <div class="form-field">
                            <input type="text" formControlName="comune_residenza">
                        </div>
                        <label>via</label>
                        <div class="form-field">
                            <input type="text" formControlName="via_residenza">
                        </div>
                    </div>
                    <div class="wrapper">
                        <label>identificato con</label>
                        <div class="form-field">
                            <input type="text" formControlName="identificato_con">
                        </div>
                        <label>nella qualità di</label>
                        <div class="form-field">
                            <input type="text" formControlName="qualita_di">
                        </div>
                    </div>
                </section>

                <br>
                <h2>AVENDO PROCEDUTO ALL'ISPEZIONE</h2>
                <br>
                <div class="form-field">
                    <label>in data</label>
                    <input type="date" formControlName="data_ispezione">
                </div>
                <fieldset>
                    <div class="wrapper">
                        <div class="form-field">
                            <input type="radio" name="is_ditta_o_cantiere" value="ditta" formControlName="is_ditta_o_cantiere">
                        </div>
                        <label>della ditta</label>
                        <div class="form-field">
                            <input type="text" formControlName="nome_ditta">
                        </div>
                        <label>sita nel comune di</label>
                        <div class="form-field">
                            <input type="text" formControlName="comune_ditta">
                        </div>
                        <label>Via/Piazza</label>
                        <div class="form-field">
                            <input type="text" formControlName="via_ditta">
                        </div>
                    </div>
                    <div class="wrapper">
                        <label>con sede legale in</label>
                        <div class="form-field">
                            <input type="text" formControlName="comune_sede_legale_ditta">
                        </div>
                        <label>via</label>
                        <div class="form-field">
                            <input type="text" formControlName="via_sede_legale_ditta">
                        </div>
                    </div>
                    <div class="wrapper">
                        <div class="form-field">
                            <input type="radio" name="is_ditta_o_cantiere" value="cantiere" formControlName="is_ditta_o_cantiere">
                        </div>
                        <label>del cantiere sito nel comune</label>
                        <div class="form-field">
                            <input type="text" formControlName="comune_cantiere">
                        </div>
                        <label>Via/Piazza</label>
                        <div class="form-field">
                            <input type="text" formControlName="via_cantiere">
                        </div>
                    </div>
                    <div class="wrapper">
                        <label>in cui opera la ditta</label>
                        <div class="form-field">
                            <input type="text" formControlName="nome_ditta_in_cantiere">
                        </div>
                        <label>con sede legale in</label>
                        <div class="form-field">
                            <input type="text" formControlName="sede_legale_ditta_in_canitere">
                        </div>
                        <label>via</label>
                        <div class="form-field">
                            <input type="text" formControlName="via_sede_legale_ditta_in_cantiere">
                        </div>
                    </div>
                </fieldset>
                <div class="wrapper">
                    <label>rappresentata legalmente dal/dalla sig.</label>
                    <div class="form-field">
                        <input type="text" formControlName="nome_rappresentante_legale">
                    </div>
                    <label>nella qualità di</label>
                    <div class="form-field">
                        <input type="text" formControlName="qualita_di_rappresentante_legale">
                    </div>
                </div>
                <div class="wrapper">
                    <label>nato a</label>
                    <div class="form-field">
                        <input type="text" formControlName="comune_nascita_rappresentante_legale">
                    </div>
                    <label>il</label>
                    <div class="form-field">
                        <input type="date" formControlName="data_nascita_rappresentante_legale">
                    </div>
                    <label>residente in</label>
                    <div class="form-field">
                        <input type="text" formControlName="comune_residenza_rappresentante_legale">
                    </div>
                </div>
                <div class="wrapper">
                    <label>via</label>
                    <div class="form-field">
                        <input type="text" formControlName="via_residenza_rappresentante_legale">
                    </div>
                    <label>di cui è datore di lavoro il/la sig.</label>
                    <div class="form-field">
                        <input type="text" formControlName="nome_datore">
                    </div>
                    <label>nato a</label>
                    <div class="form-field">
                        <input type="text" formControlName="comune_nascita_datore">
                    </div>
                </div>
                <div class="wrapper">
                    <label>il</label>
                    <div class="form-field">
                        <input type="date" formControlName="data_nascita_datore">
                    </div>
                    <label>e residente in </label>
                    <div class="form-field">
                        <input type="text" formControlName="comune_residenza_datore">
                    </div>
                    <label>via</label>
                    <div class="form-field">
                        <input type="text" formControlName="via_residenza_datore">
                    </div>
                </div>
                <br>
                <h2>DANNO ATTO DI QUANTO SEGUE</h2>
                <br>
                <textarea formControlName="dato_atto"></textarea>
                <h3>Descrizione dei luoghi</h3>
                <textarea formControlName="descrizione_luoghi"></textarea>
                <h3>Esiti del sopralluogo</h3>
                <div class="form-field">
                    <input type="radio" name="esito_sopralluogo_rilievi_negativi" value="negativo" formControlName="esito_sopralluogo_rilievi_negativi">
                    <label>l'esito <span class="bold">NON</span> evidenzia la presenza di rilievi negativi</label>
                </div>
                <div class="form-field">
                    <input type="radio" name="esito_sopralluogo_rilievi_negativi" value="positivo" formControlName="esito_sopralluogo_rilievi_negativi">
                    <label>l'esito evidenzia la presenza di rilievi negativi</label>
                </div>
                <textarea formControlName="esito_sopralluogo"></textarea>
                <h3>ATTIVITA’ EFFETTUATE</h3>
                <div class="form-field">
                    <input type="checkbox" name="rilievi_fotografici" [checked]="verbale.rilievi_fotografici == 'true' ? true : false" (change)="changeCheckBox($event)">
                    <label>Rilievi Fotografici</label>
                </div>
                <div class="form-field">
                    <input type="checkbox" name="acquisizione_documentale" [checked]="verbale.acquisizione_documentale == 'true' ? true : false"  (change)="changeCheckBox($event)">
                    <label>Acquisizione Documentazione</label>
                </div>
                <textarea formControlName="attivita_effettuate"></textarea>
                <h3>ALTRO</h3>
                <textarea formControlName="altro"></textarea>
            </div>
            <!--<hr>
            <div class="ruoli-wrapper">

            </div>-->
        </div>
        <button type="submit">Salva</button>
    </form>
</div>

<!-- <div class="wrapper" id="verbale-details" formGroupName="verbale">
            <div class="form-section" id="form-header">
                <h1>VERBALE DI SOPRALLUOGO</h1>
                <div class="form-field">
                    <label for="numero_verbale">n°</label>
                    <input id="numero_verbale" formControlName="numero_verbale" pattern="0-9+">
                </div>
            </div>
            <div class="form-section" id="main-section">
                <div class="wrapper">
                    <div>
                        <select>
                            <option value="il" selected>Il</option>
                            <option value="la">La</option>
                        </select>
                        <span>sottoscritt</span>
                        <select>
                            <option value="o" selected>o</option>
                            <option value="a">a</option>
                        </select>
                        <span>Ufficiale di P.G.</span> <input id="ispettore" formControlName="ispettore">
                    </div>
                    <div>
                        <span>in data odierna, alle ore</span> <input type="time" id="ora_sopralluogo" formControlName="ora_sopralluogo">,
                        <span>presente il sig.</span> <input id="nome_ispettore" formControlName="nome_ispettore">
                    </div>
                    <div>
                        <span>nato a</span> <input>
                        <span>il</span> <input type="date" id="anno_nascita" formControlName="anno_nascita">
                        <span>e residente a</span> <input id="residenza_ispettore" formControlName="residenza_ispettore">
                    </div>
                    <div>
                        <span>via</span> <input>
                        <span>identificato con</span> <input>
                        <span>nella qualità di</span> <input id="ruolo" formControlName="ruolo">
                    </div>
                </div>
                <div class="wrapper">
                    <span>AVENDO PROCEDUTO IN DATA</span> <input type="date"> <span>ALL' ISPEZIONE</span>
                </div> 
                <div class="wrapper">
                    <fieldset>
                        <div>
                            <input type="radio" name="tipo-ispezione" value="">
                            <span>della ditta</span> <input>
                            <span>sita nel comune di</span>
                        </div>
                        <div>
                            <select>
                                <option value="via" selected>Via</option>
                                <option value>Piazza</option>
                            </select>
                            <input>
                            <span>con sede legale in</span>
                            <input>
                            <span>via</span> <input>
                        </div>
                        <div>
                            <input type="radio" name="tipo-ispezione">

                        </div>
                    </fieldset>
                </div>
            </div>
        </div> -->

<!-- <form id="verbale-editor" [formGroup]="verbaleForm" (ngSubmit)="onSubmit()"
    style="max-width:21.001cm; margin:0 auto; background-color: lightgrey;">
    <div class="form-section" id="verbale-details" formGroupName="verbale">
        <div dir="ltr"
            style="max-width:21.001cm;margin-top:1.064cm; margin-bottom:1.501cm; margin-left:2cm; margin-right:1.512cm; ">
            <p class="P17"> </p>
            <p class="P9">VERBALE DI SOPRALLUOGO</p>
            <p class="P7">n° <input formControlName="numero_verbale" pattern="0-9+"> </p>
            <p class="P6"> </p>
            <p class="P6">Il sottoscritto Ufficiale di P.G <input formControlName="ispettore"> </p>
            <p class="P6">in data odierna, alle ore <input formControlName="ora_sopralluogo"
                    pattern=[0-2][0-9]:[0-5][0-9] placeholder="hh:mm">     , presente il sig <input
                    formControlName="nome_ispettore" pattern="0-9+"> </p>
            <p class="P6">nato a  <input formControlName="anno_nascita" pattern="d{4}" placeholder="aaaa">  il <input
                    formControlName="data_nascita_ispettore" pattern="d{1,2}-d{1,2}-d{4}" placeholder="gg-mm-aaaa"> e
                residente a <input formControlName="residenza_ispettore"> </p>
            <p class="P6"> via via  identificato con  identificativo nella qualità di  <input
                    formControlName="ruolo"> </p>
            <p class="P7">AVENDO PROCEDUTO IN DATA data_ispeziona ALL’ISPEZIONE</p>
            <p class="P16"><span class="T4">    </span><span class="T5"> </span><span class="T2">   della ditta <input
                        formControlName="nome_ditta"> sit… nel comune di comune_ditta Via/Piazza  <input
                        formControlName="via_ditta"> con sede legale in <input formControlName="nome_sede"> via <input
                        formControlName="via_sede_legale"> </span></p>
            <p class="P16"><span class="T4">    </span><span class="T5"> </span><span class="T2">   del cantiere sit…
                    nel comune di <input formControlName="comune_cantiere"> Via/Piazza  <input
                        formControlName="via_cantiere"> in cui opera la ditta <input formControlName="nome_ditta"> con
                    sede legale in <input formControlName="provincia_sede_legale"> via  <input
                        formControlName="via_sede_legale"> </span></p>
            <p class="P5">rappresentata legalmente dal.. sig. <input formControlName="nome_rappresentante">  nella
                qualità di <input formControlName="ruolo"> </p>
            <p class="P5">nato a <input formControlName="comune_nascita_rappresentante"> il <input
                    formControlName="data_nascita_rappresentante" pattern="d{1,2}-d{1,2}-d{4}" placeholder="gg-mm-aaaa">
                e residente in <input formControlName="residenza_rappresentante"> </p>
            <p class="P5">via <input formControlName="via_rappresentante"> di cui è datore di lavoro ..l..  sig. <input
                    formControlName="nome_datore_lavoro"> nato a <input formControlName="comune_nascita_datore_lavoro">
                 il <input formControlName="data_nascita_datore_lavoro" pattern="d{1,2}-d{1,2}-d{4}"
                    placeholder="gg-mm-aaaa"> e residente in <input formControlName="residenza_datore_lavoro"> via
                <input formControlName="via_datore_lavoro"> </p>
            <p class="P7">DANNO ATTO DI QUANTO SEGUE:</p>
            <p class="P14"><span class="T8"><textarea rows="5" style="width: 100%"
                        formControlName="descrizione_atto"></textarea> </span><span class="T2"> </span></p>
            <p class="P7"> </p>
            <p class="P11">Descrizione dei luoghi:</p>
            <p class="P7"><textarea rows="5" style="width: 100%" formControlName="descrizione_luoghi"></textarea> </p>
            <p class="P6"> </p>
            <p class="P10">ESITI DEL SOPRALLUOGO</p>
            <p class="P13"><span class="T6"> </span><span class="T7">l’esito del sopralluogo non evidenzia la presenza
                    di</span><span class="T2"> rilievi negativi</span></p>
            <p class="P13"><span class="T6"> </span><span class="T7">l’esito del sopralluogo si evidenzia la presenza
                    di</span><span class="T2"> rilievi negativi </span></p>
            <p class="P7"><textarea rows="5" style="width: 100%" formControlName="esiti_sopralluogo"></textarea> </p>
            <p class="P5"> </p>
            <p class="P10">ATTIVITA’ EFFETTUATE</p>
            <p class="P13"><span class="T6"> </span><span class="T7">RILIEVI FOTOGRAFICI</span></p>
            <p class="P13"><span class="T6"> </span><span class="T7">ACQUISIZIONE DOCUMENTAZIONE</span></p>
            <p class="P12"><textarea rows="5" style="width: 100%" formControlName="attività_effettuate"></textarea> </p>
            <p class="P12"> </p>
            <p class="P12"> </p>
            <p class="P13"><span class="T6"> </span><span class="T7">ALTRO </span></p>
            <p class="P12"><textarea rows="5" style="width: 100%" formControlName="altro"></textarea> </p>
            <p class="P15"> </p>
            <p class="P8"> </p>
            <p class="P8">Il Rappr. Legale/Datore di Lavoro       Persona Presente all’Ispezione           I
                VERBALIZZANTI           </p>
            <p class="P8"> </p>
            <p class="P8"><input formControlName="firma_datore_lavoro">                                     <input
                    formControlName="firma_ispettore">                           <input
                    formControlName="firma_verbalizzanti"> </p>
            <p class="P8"> </p>
            <p class="P8"> </p>
        </div><button class="button" type="submit" style="float: right;">CONFERMA</button>
    </div>
</form> -->