<form id="sanzione" [formGroup]="form">
  <div class="form-section" formGroupName="info_pagamento">
    <h5 class="section-header">Informazioni Pagamento</h5>
    <div class="row">
      <div class="col-md">
        <h5 class="col-header">Ridotto</h5>
        <div class="form-group" id="pag-ridotto">
          <label class="form-label">Importo Totale Versamento</label>
          <input type="number" class="form-control">
        </div>
      </div>
      <div class="col-md">
        <h5 class="col-header">Ultra Ridotto</h5>
        <div class="form-group" id="pag-ultra-ridotto">
          <label class="form-label">Importo Totale Versamento</label>
          <input type="number" class="form-control">
        </div>
      </div>
    </div>
  </div>
  <div class="form-section" formGroupName="info_pagatore">
    <h5 class="section-header">Informazioni Soggetto Pagatore</h5>
    <div class="row">
      <div class="col-md" formGroupName="trasgressore">
        <h5 class="col-header">Trasgressore</h5>
        <div class="form-group">
          <label class="form-label">Tipo Pagatore</label>
          <select class="form-select" formControlName="tipo_pagatore" #tp>
            <option value="G" selected>Societa' di persone/Associazioni</option>
            <option value="F">Persona Fisica</option>
          </select>
        </div>
        <div class="form-group">
          <label class="form-label">
            <span *ngIf="tp.value === 'G'; else CodFiscaleTrasgressore">P.IVA</span>
            <ng-template #CodFiscaleTrasgressore>
              <span>Codice Fiscale</span>
            </ng-template>
          </label>
          <input class="form-control" formControlName="p_iva_o_cod_fiscale">
        </div>
        <div class="form-group">
          <label class="form-label">
            <span *ngIf="tp.value === 'G'; else nominativoTrasgressore">Ragione Sociale</span>
            <ng-template #nominativoTrasgressore>
              <span>Nominativo</span>
            </ng-template>
          </label>
          <input class="form-control" formControlName="rag_sociale_o_nominativo">
        </div>
        <div class="form-group">
          <label class="form-label">Indirizzo</label>
          <input class="form-control" formControlName="indirizzo">
        </div>
        <div class="form-group">
          <label class="form-label">Civico</label>
          <input class="form-control" formControlName="civico">
        </div>
        <div class="form-group">
          <label class="form-label">CAP</label>
          <input class="form-control" formControlName="cap">
        </div>
        <div class="form-group">
          <label class="form-label">Comune</label>
          <input class="form-control" formControlName="comune">
        </div>
        <div class="form-group">
          <label class="form-label">Cod. Provincia</label>
          <input class="form-control" formControlName="cod_provincia">
        </div>
        <div class="form-group">
          <label class="form-label">Nazione</label>
          <input class="form-control" formControlName="nazione">
        </div>
        <div class="form-group">
          <label class="form-label">Email</label>
          <input class="form-control" formControlName="email">
        </div>
        <div class="form-group">
          <label class="form-label">Telefono</label>
          <input class="form-control" formControlName="telefono">
        </div>
        <div class="form-group">
          <label class="form-label">Modalita' di Contestazione/Notifica</label>
          <fieldset>
            <div class="form-check">
              <input class="form-check-input" type="radio" value="CI"
                id="contestazione-immediata-1" formControlName="mod_contestazione">
              <label class="form-check-label" for="contestazione-immediata-1">
                Contestazione Immediata
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" value="PEC" id="pec-1"
                formControlName="mod_contestazione">
              <label class="form-check-label" for="pec-1">
                PEC
              </label>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="col-md" formGroupName="obbligato_in_solido">
        <h5 class="col-header">Obbligato in Solido</h5>
        <div class="form-group">
          <label class="form-label">Tipo Pagatore</label>
          <select class="form-select" formControlName="tipo_pagatore" #tpo>
            <option value="G" selected>Persona Giuridica</option>
            <option value="F">Persona Fisica</option>
          </select>
        </div>
        <div class="form-group">
          <label class="form-label">
            <span *ngIf="tpo.value === 'G'; else CodFiscaleSoggObbligato">P.IVA</span>
            <ng-template #CodFiscaleSoggObbligato>
              <span>Codice Fiscale</span>
            </ng-template>
          </label>
          <input class="form-control" formControlName="p_iva_o_cod_fiscale">
        </div>
        <div class="form-group">
          <label class="form-label">
            <span *ngIf="tpo.value === 'G'; else nominativoSoggObbligato">Ragione Sociale</span>
            <ng-template #nominativoSoggObbligato>
              <span>Nominativo</span>
            </ng-template>
          </label>
          <input class="form-control" formControlName="rag_sociale_o_nominativo">
        </div>
        <div class="form-group">
          <label class="form-label">Indirizzo</label>
          <input class="form-control" formControlName="indirizzo">
        </div>
        <div class="form-group">
          <label class="form-label">Civico</label>
          <input class="form-control" formControlName="civico">
        </div>
        <div class="form-group">
          <label class="form-label">CAP</label>
          <input class="form-control" formControlName="cap">
        </div>
        <div class="form-group">
          <label class="form-label">Comune</label>
          <input class="form-control" formControlName="comune">
        </div>
        <div class="form-group">
          <label class="form-label">Cod. Provincia</label>
          <input class="form-control" formControlName="cod_provincia">
        </div>
        <div class="form-group">
          <label class="form-label">Nazione</label>
          <input class="form-control" formControlName="nazione">
        </div>
        <div class="form-group">
          <label class="form-label">Email</label>
          <input class="form-control" formControlName="email">
        </div>
        <div class="form-group">
          <label class="form-label">Telefono</label>
          <input class="form-control" formControlName="telefono">
        </div>
        <div class="form-group">
          <label class="form-label">Modalita' di Contestazione/Notifica</label>
          <fieldset>
            <div class="form-check">
              <input class="form-check-input" type="radio" value="CI"
                id="contestazione-immediata-2" formControlName="mod_contestazione">
              <label class="form-check-label" for="contestazione-immediata-2">
                Contestazione Immediata
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" value="PEC" id="pec-2"
              formControlName="mod_contestazione">
              <label class="form-check-label" for="pec-2">
                PEC
              </label>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</form>
