#lista-trasferimento-ispezioni {
  .table-controls {
    margin-bottom: .5rem;
  }

  .btn {
    margin-right: .5rem;
  }

  #sendIsp {
    margin-left: 1rem;
    padding: .25rem;
  }

  select#ispA {
    margin-left: .5rem;
  }

  .col-lg {
    display: contents;
  }
}

#goBackButton {
  margin-left: .5rem;
  margin-bottom: .5rem;
}