<div id="app-container"
  [ngStyle]="{'background-image': ambiente == 'collaudo' ? 'url(' + '../assets/testPlaceholderBackground.jpg' + ')' : ''}">
  <div id="content-wrap">
    <header>
      <app-header></app-header>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
    <div class="spinner-container" id="spinner">
        <sa-spinner-circular class="spinner" color="blue"></sa-spinner-circular>
        <label id="spinner-label" class="spinner-text"></label>
    </div>
  </div>
  <app-footer></app-footer>
</div>
