@use "../a-smart-table.component.scss";

.table-control-wrapper {
  position: relative;
  display: inline-block;
}

.table-control {
  display: inline-block;
  min-width: 28px;
  min-height: 28px;
  border: none;
  padding: 0;
  margin: 0 .2rem;
  background-color: transparent;
  color: var(--control-color);
  fill: var(--control-color);
  transition: .4s cubic-bezier(0.22, 1, 0.36, 1);
  --control-color: #212529;;
  --accent-color: white;
  --accent-color-outline: 0 0 0.17rem rgba(var(--accent-color), 0.3);

  .icon,
  svg {
    color: inherit;
    fill: inherit;
    width: 24px;
    height: 24px;
    margin: 0;
  }

  .sort-icon svg {
    width: 20px;
    height: 20px;
  }

  &:hover,
  &:active,
  &.active,
  &.visible {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}
