@use "../../a-smart-table.component.scss";
@use "../../../../mixins" as mx;
@use "../../../../colors" as c;

.a-table-paginator {
  $mainColor: c.$black;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0.55rem;

  .form-select {
    max-width: max-content;
  }

  [class*=form-]:focus,
  #goto-button:focus {
    @include mx.outline($mainColor, .3);
    border-color: $mainColor;
  }

  .control {
    color: inherit;
    font-weight: 600;
    min-width: 0;
    padding: 1px 6px;
    margin: 0 .25rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    background-color: transparent;
    transition: .15s ease-in-out;

    &.prev-control,
    &.next-control {
      padding: 1px;
      max-width: 24px;

      .icon {
        vertical-align: text-bottom;
      }
    }

    &:hover,
    &.page-control.active {
      background-color: white;
      color: $mainColor;
    }

  }

  .wrapper {
    align-items: center;

    &.select-wrapper {

      .label {
        margin-right: .5rem;
      }
    }

    &.controls-wrapper {
      justify-content: flex-end;

    }

    &.goto-wrapper {
      input {
        max-width: 124px;
      }
    }
  }
}
