@import "../../utils";

.a-multi-select {
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;

  .form-select {
    min-height: 38px;
  }

  .selected-values-display {
    line-height: 1.5;
  }

  .options-list {
    display: block;
    position: absolute;
    background: white;
    width: 100%;
    border: 1px solid var(--bs-gray-400);
    margin-top: 2px;
    font-size: .9rem;
    font-weight: normal;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;

    .option {
      padding: .375rem .75rem;
    }

    input[type="checkbox"] {
      margin-right: .5rem;
    }

    .input-group {
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
    }
  }

  .selected-options {
    min-height: 1rem;
    max-height: 1rem;
    padding: 0;
    line-height: 1rem;

    .option {
      padding: 0;
    }

    .more-than-one-counter {
      margin-left: .5rem;
    }

    .wrapper {
      justify-content: space-between;
    }
  }
}
