<div class="form-cantiere" [formGroup]="form">
    <div *ngIf="form.get('cantiere')" formGroupName="cantiere">
        <div class="form-field">
            <label class="form-label" for="cantiere_via">Indirizzo:</label>
            <input class="form-control" id="cantiere_via" formControlName="via">
        </div>
        <div class="form-field">
            <label class="form-label" for="cantiere_civico">Civico/km:</label>
            <input class="form-control" id="cantiere_civico" formControlName="civico">
        </div>
        <div class="form-field">
            <label class="form-label" for="cantiere_comune">Comune:</label>
            <input class="form-control" id="cantiere_comune" formControlName="comune">
        </div>
        <div class="form-field">
            <label class="form-label" for="cantiere_cap">Cap:</label>
            <input class="form-control" id="cantiere_cap" formControlName="cap">
        </div>
        <h4>Informazioni supplementari</h4>
        <div class="form-field">
            <label class="form-label" for="cantiere_denominazione">Denominazione:</label>
            <input class="form-control" id="cantiere_denominazione" formControlName="denominazione">
        </div>
        <div class="form-field">
            <label class="form-label" for="cantiere_natura_opera">Natura Opera:</label>
            <input class="form-control" value="TODO: selection">
        </div>
        <div class="form-field">
            <label class="form-label" for="cantiere_data_presunta">Data presunta inizio lavori:</label>
            <input type="date" class="form-control" id="cantiere_data_presunta" formControlName="data_presunta">
        </div>
        <div class="form-field">
            <label class="form-label" for="cantiere_durata_presunta">Durata presunta lavori (in giorni):</label>
            <input class="form-control" id="cantiere_durata_presunta" formControlName="durata_presunta">
        </div>
        <div class="form-field">
            <label class="form-label" for="cantiere_numero_imprese">Numero previsto di imprese e di lavoratori autonomi sul cantiere:</label>
            <input class="form-control" id="cantiere_numero_imprese" formControlName="numero_imprese">
        </div>
        <div class="form-field">
            <label class="form-label" for="cantiere_numero_lavoratori">Numero presunto dei lavoratori in cantiere:</label>
            <input class="form-control" id="cantiere_numero_lavoratori" formControlName="numero_lavoratori">
        </div>
        <div class="form-field">
            <label class="form-label" for="cantiere_ammontare">Ammontare complessivo presunto dei lavori (in €):</label>
            <input class="form-control" id="cantiere_ammontare" formControlName="ammontare"/>
        </div>
    </div>
</div>