<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
  <display-name>G.U.C.</display-name>
  <context-param>
    <param-name>tempfile.dir</param-name>
    <param-value>gucimportutenti</param-value>
  </context-param>
  <servlet>
    <servlet-name>Dispatcher</servlet-name>
    <servlet-class>it.us.web.servlet.Dispatcher</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	Bootstrap Servlet</description>
  	<display-name>
  	Bootstrap</display-name>
  	<servlet-name>Bootstrap</servlet-name>
  	<servlet-class>it.us.web.servlet.Bootstrap</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  
  
    <servlet>
    <display-name>DWR Servlet</display-name>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
    <init-param>
      <param-name>crossDomainSessionSecurity</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>accessLogLevel</param-name>
      <param-value>EXCEPTION</param-value>
    </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Dispatcher</servlet-name>
    <url-pattern>*.us</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Bootstrap</servlet-name>
  	<url-pattern>/Bootstrap</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  <listener>
  	<listener-class>it.us.web.tiles.Listener</listener-class>
  </listener>
   <listener>
  	<listener-class>it.us.web.listener.FileLocationContextListener</listener-class>
  </listener>
  <welcome-file-list>
  	<welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  
   <resource-ref>
  	    <description>This is a Postgres database connection</description>
  	    <res-ref-name>jdbc/gucM</res-ref-name>
  	    <res-type>javax.sql.DataSource</res-type>
  	    <res-auth>Container</res-auth>
   </resource-ref>
  
</web-app>
