<div class="a-table-date-filter">
    <div class="wrapper">
        <select class="form-select" name="select-mode" #selectMode>
            <option value="exact-date" selected>data esatta</option>
            <option value="from-date">da</option>
            <option value="till-date">fino a</option>
            <option value="range">intervallo</option>
        </select>
    </div>
    <div class="wrapper" id="range-wrapper" *ngIf="selectMode.value === 'range'; else singleDate">
        <label for="start-date" class="form-label">Da</label>
        <input #startDate type="date" class="form-control" name="start-date">
        <label for="end-date" class="form-label">A</label>
        <input #endDate type="date" class="form-control" name="end-date">  
    </div>
    <ng-template #singleDate>
        <div class="wrapper">
            <input #date type="date" class="form-control" name="date">
        </div>
    </ng-template>
</div>
