table, tr, td {
    border: none;
}

.input-label {
    text-align: end;
}

.form-supporto{
    width: 70%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.btn-supporto {
    color: white;
    background-color: var(--blue) !important;
}