@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	color:#232323;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-top:5px;
	background:#f8f6fb url('../../../images/homePage/image_02.gif') repeat-x left top;
}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span{
	margin:0; padding:0;
}

ul{
	margin:0; 
	padding:0; 
	list-style-type:none;
	font-size:0;
	line-height:0;
}


.spacer{
	clear:both; 
	font-size:0; 
	line-height:0;
}

/*------------------------------------------------body--------------------*/
img
{
border:none;
}
.style1
{
font:normal 12px/18px Arial, Helvetica, sans-serif;
color:#ffffff;
}
#header
{
margin:0 auto;
padding:0px;
width:899px;
height:150px;
background:url('../../../images/homePage/pets_clinic_01.gif') no-repeat center;
}
#navigation
{
	width:900px;
	height:30px;
	margin:0 auto;
	padding-top:5px;
	background:#000000;
	border-bottom:#FFFFFF 1px solid;
}
#navigation ul
{
	list-style:none;
}
#navigation ul li
{
	height:20px;
	float:left;
	padding:0 20px;
	border-right:#CCCCCC 1px solid;
	font:bold 12px/20px Arial, Helvetica, sans-serif;
	color:#ffffff;
}
#navigation ul li a
{
	display:block;
	text-decoration:none;
	color:#ffffff;
}
#navigation ul li a:hover
{
	color:#ff4e00;
	text-decoration:underline;
}
#content
{
margin:0 auto;
width:899px;
}
#content p
{
font:normal 12px/18px Arial, Helvetica, sans-serif;
padding:10px;
color:#333333;
}
#content h1
{
color:#000000;
width:214px;
height:33px;
background:url('../../../images/homePage/pets_clinic_04.gif') no-repeat 0 0;
padding-left:10px; font-style:normal; font-variant:normal; font-weight:bold; line-height:33px; font-size:14px; font-family:Arial, Helvetica, sans-serif
}
.news
{
margin:0 auto;
width:200px;
border-bottom:#666666 1px dotted;
padding-bottom:10px;
padding-top:8px;
}
.news h2
{
font:bold 12px/20px Arial, Helvetica, sans-serif;
color:#333333;
}
.news p
{
font:normal 11px/18px Arial, Helvetica, sans-serif;
color:#333333;
}
.more
{
margin:0 auto;
width:73px;
height:19px;
margin-right:10px;
}
#content_right
{
margin:0 auto;
width:640px;
border:#B5CE8E 1px solid;
padding:5px;
}
#content h3
{
font:bold 12px/20px Arial, Helvetica, sans-serif;
color:#607B35;
}
#content_row1
{
margin:0 auto;
width:375px;
height:175px;
background:url('../../../images/homePage/pets_clinic_08.gif') no-repeat 0 0;
padding-left:250px
}
#content_row2
{
margin:0 auto;
width:625px;
}
#content_row3
{
margin:0 auto;
width:375px;
height:175px;
background:url('../../../images/homePage/pets_clinic_16.jpg') no-repeat right top;
padding-right:250px
}
#content_row4
{
margin:0 auto;
width:625px;
}
#fotter
{
margin:0 auto;
height:80px;
width:1000px;
background:#000000 url('../../../images/homePage/image_27.gif') no-repeat right bottom;
}
#fotter_navigation
{
width:500px;
margin:0 auto;
height:30px;
}
#fotter_copyright
{
width:500px;
margin:0 auto;
height:16px;
text-align:center;
font:normal 12px/16px Arial, Helvetica, sans-serif;
color:#FFFFFF;
padding-top:10px;
}
#fotter_navigation ul
{
padding:10px 0 0 0;
list-style:none;
margin-left:20px;
}
#fotter_navigation ul li
{
font:normal 12px/18px Arial, Helvetica, sans-serif;
color:#FFFFFF;
padding:0 20px;
float:left;
}
#fotter_navigation ul li a
{
color:#FFFFFF;
text-decoration:none;
}
#fotter_navigation ul li a:hover
{
color:#ff4e00;
text-decoration:none;
}
#fotter2
{
margin:0 auto;
height:20px;
width:1000px;
background:#4c4847;
}
#fotter2 p
{
font:normal 10px/20px Arial, Helvetica, sans-serif;
text-align:center;
padding:0px;
}
.style_03
{
color:#f6b375;
}
.style_04 a
{
color:#ffffff;
text-decoration: none;
}