<div class="form-ricerca-cantiere" [formGroup]="form">
  <h4 class="d-flex justify-content-between align-items-center">
    <span>Cantiere</span>
    <!-- <span class="my-2" style="font-size: .9rem;">Ricercare un cantiere tramite uno degli appositi campi e selezionarlo dalla lista</span> -->
    <button type="button" class="btn btn-outline-blue icon-only" ngbTooltip="Modifica" placement="left"
      tooltipClass="system-tooltip" *ngIf="cantiereSelezionato" (click)="reset()">
      <i class="fa-regular fa-pen-to-square"></i>
    </button>
  </h4>
  <!-- <div formGroupName="cantiere">
    <div class="form-field">
      <label class="form-label" for="cun">CUN</label>
      <input
        class="form-control"
        id="cun"
        (dataChange)="selezionaCantiere($event)"
        placeholder="Ricerca per CUN"
        [readonly]="cantiereSelezionato"
        [autofiller]="cantieriAttivi"
        autofillerKey="cun"
        formControlName="cun"
      />
    </div>
    <div class="form-field">
      <label class="form-label" for="cuc">CUC</label>
      <input
        class="form-control"
        id="cuc"
        (dataChange)="selezionaCantiere($event)"
        placeholder="Ricerca per CUC"
        [readonly]="cantiereSelezionato"
        [autofiller]="cantieriAttivi"
        autofillerKey="cuc"
        formControlName="cuc"
      />
    </div>
    <div class="form-field">
      <label class="form-label" for="denominazione">Denominazione</label>
      <input
        class="form-control"
        id="denominazione"
        (dataChange)="selezionaCantiere($event)"
        placeholder="Ricerca per Denominazione"
        [readonly]="cantiereSelezionato"
        [autofiller]="cantieriAttivi"
        autofillerKey="denominazione"
        formControlName="denominazione"
      />
    </div>
  </div> -->

  <a-smart-table class="table-blue table-striped-light no-borders" [paginator]="true" [data]="cantieriAttivi">
    <ng-template aTemplate="head">
      <tr>
        <th>
          <a-table-sorter key="cun"></a-table-sorter>
          <a-table-filter key="cun"></a-table-filter>
          <span>CUN</span>
        </th>
        <th>
          <a-table-sorter key="cuc"></a-table-sorter>
          <a-table-filter key="cuc"></a-table-filter>
          <span>CUC</span>
        </th>
        <th>
          <a-table-sorter key="denominazione"></a-table-sorter>
          <a-table-filter key="denominazione"></a-table-filter>
          <span>Denominazione</span>
        </th>
      </tr>
    </ng-template>
    <ng-template aTemplate="body" let-c>
      <tr class="clickable" (click)="selezionaCantiere(c)">
        <td>{{ c.cun }}</td>
        <td>{{ c.cuc }}</td>
        <td>{{ c.denominazione }}</td>
      </tr>
    </ng-template>
  </a-smart-table>

  <!-- <table class="table-blue table-striped-light no-borders" aSmartTable [paginator]="true" [data]="cantieriAttivi">
    <thead>
      <tr>
        <th>
          <a-table-sorter></a-table-sorter>
          <a-table-filter></a-table-filter>
          <span>CUN</span>
        </th>
        <th>
          <a-table-sorter></a-table-sorter>
          <a-table-filter></a-table-filter>
          <span>CUC</span>
        </th>
        <th>
          <a-table-sorter></a-table-sorter>
          <a-table-filter></a-table-filter>
          <span>Denominazione</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngTemplateOutlet="row, context: {$implicit: cantieriAttivi[0]}"></ng-container>
      <ng-template #row let-c>
        <tr class="clickable" (click)="selezionaCantiere(c)">
          <td>{{ c.cun }}</td>
          <td>{{ c.cuc }}</td>
          <td>{{ c.denominazione }}</td>
        </tr>
      </ng-template>
    </tbody>
  </table> -->

  <div *ngIf="impreseCantiereSelezionato">
    <div class="my-3" @collapse *ngIf="addingImpresa">
      <form-ricerca-impresa header="Nuova Impresa" #ricercaImpresa></form-ricerca-impresa>
      <div class="wrapper d-flex justify-content-end">
        <button type="button" class="btn btn-outline-red" (click)="addingImpresa = false">
          Annulla
        </button>
        <button type="button" class="btn btn-outline-blue ms-2" (click)="aggiungiImpresa()">
          Aggiungi
        </button>
      </div>
    </div>
    <h4 class="d-flex justify-content-between align-items-center mt-3">
      <span>Imprese Ispezionate</span>
      <button type="button" class="btn btn-outline-blue icon-only" (click)="addingImpresa = true"
        ngbTooltip="Aggiungi Impresa" placement="left" tooltipClass="system-tooltip">
        <i class="icon fas fa-plus"></i>
      </button>
    </h4>
    <table class="table-blue no-borders">
      <thead>
        <tr>
          <th scope="col" width="30%">P.IVA</th>
          <th scope="col" width="30%">Ragione Sociale</th>
          <th scope="col" width="30%">Codice Fiscale</th>
          <th scope="col" width="10%" class="pe-0 text-end"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let imp of impreseCantiereSelezionato">
          <td>{{ imp.partita_iva }}</td>
          <td>{{ imp.ragione_sociale }}</td>
          <td>{{ imp.codice_fiscale }}</td>
          <td class="pe-0 text-end">
            <button type="button" class="btn btn-outline-blue icon-only" (click)="rimuoviImpresa(imp)"
              ngbTooltip="Rimuovi Impresa" placement="left" tooltipClass="system-tooltip">
              <i class="icon fa-regular fa-trash-can"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
