/*select#id_modulo {
  text-transform: capitalize;
}*/

#select-verbale-wrapper {
  margin-bottom: 1rem;
}

.verbale-actions-container {
  display: flex;
  flex-wrap: wrap;

  .btn {
    margin: .125rem;
  }
}

h5{
  font-size: xx-large;
}


