@keyframes collapse-opening {
  from {
    height: 0;
  }

  to {
    height: 100%;
  }
}

@keyframes collapse-closing {
  from {
    height: 100%;
  }

  to {
    height: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-360deg);
  }
}

@keyframes flip {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(-360deg);
  }
}

@keyframes slide-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translate(-100%);
  }
}


@keyframes slide-right {
  from {
    transform: translateX(0);
  }

  to {
    transform: translate(100%);
  }
}

@keyframes from-left {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translate(0);
  }
}

@keyframes from-right {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translate(0);
  }
}

@keyframes shake {
  0% {
    transform: translateX(-3px);
  }

  25% {
    transform: translateX(3px);
  }

  50% {
    transform: translateX(-1px);
  }

  75% {
    transform: translateX(1px);
  }

  100% {
    transform: translateX(0);
  }
}
