@use "./colors" as c;

.confirm-button {
  $mainColor: c.$blue;
  $sideColor: white;
  border: 1px solid $mainColor;
  background-color: $mainColor;
  color: $sideColor;

  &:hover,
  &:active,
  &:focus {
    color: $sideColor;
  }
}
