#/pago_pa/*

**/AngularClient/*
!**/AngularClient/src/

**/AngularClient/src/*
!**/AngularClient/src/app/

**/AngularClient/src/app/*

!**/AngularClient/src/app/user

!**/AngularClient/src/app/forms

**/AngularClient/src/app/forms/*
!**/AngularClient/src/app/forms/forms-prototypes

**/AngularClient/src/app/forms/forms-prototypes/*
!**/AngularClient/src/app/forms/forms-prototypes/form-soggetto-pagatore/


!**/AngularClient/src/app/sanzioni
**/AngularClient/src/app/sanzioni/*
**/AngularClient/src/app/user/*
!**/AngularClient/src/app/user/sanzioni


**/NodeJsServer/*
!**/NodeJsServer/pagopa/

!**/NodeJsServer/utils/
**/NodeJsServer/utils/*
!**/NodeJsServer/utils/utils.js

!**/NodeJsServer/static/
**/NodeJsServer/static/*

!**/NodeJsServer/static/verbali/
**/NodeJsServer/static/verbali/*
!**/NodeJsServer/static/verbali/template_ricevuta_di_pagamento.docx