@use "../../table-controls.scss";

.a-table-filter {
  position: relative;
}

.filter-template {
  display: none;
  position: absolute;
  z-index: 1000;
  min-width: max-content;
  padding: .5rem .55rem;
  margin: 0;
  opacity: 0;
  background-color: white;
  color: black;
  animation: none;

  &.visible {
    display: block;
    animation: fade-in .4s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  }
}

.icon {
  margin: 0;
  width: 16px;
  height: 16px;
}

select,
option {
  text-transform: capitalize;
}

.wrapper {
  display: flex;
  align-items: center;
  margin: 8px 0;

  &.buttons-wrapper {
    justify-content: flex-end;

    .button {
      min-width: 32px;
      min-height: 32px;

      &:not(:last-child) {
        margin: 0 8px;
      }

      &.apply-button {
        border: 1px solid var(--blue);
        background-color: white;
        color: var(--blue);
        text-align: center;

        .icon {
          width: 100%;
        }

        &:hover,
        &:active,
        &:focus {
          background-color: var(--blue);
          color: white;
        }

        &:hover {
          .icon {
            animation: flip .5s;
          }
        }

        &:active,
        &:focus {
          box-shadow: var(--blue-outline);
        }
      }

      &.reset-button {
        border: 1px solid var(--orange);
        background-color: white;
        color: var(--orange);

        .icon {
          fill: var(--orange);
        }

        &:hover,
        &:active,
        &:focus {
          background-color: var(--orange);
          color: white;
        }

        &:hover {
          .icon {
            animation: rotate360 .5s;
            fill: white;
          }
        }

        &:active,
        &:focus {
          box-shadow: var(--orange-outline);
        }
      }

      &.reset-all-button {
        width: 100%;
        margin: 0;
        text-transform: capitalize;
        border: 1px solid var(--red);
        background-color: white;
        color: var(--red);

        &:hover,
        &:active,
        &:focus {
          background-color: var(--red);
          color: white;
        }

        &:hover {
          span {
            animation: shake .5s;
          }
        }

        &:active,
        &:focus {
          box-shadow: var(--red-outline);
        }
      }
    }
  }
}

.a-table-text-filter {
  .search-group {
    .input-group-text {
      background-color: var(--blue);
      fill: white;
      border-color: var(--blue);
    }

    .form-control {
      max-width: 180px;
    }
  }
}

.a-table-selection-filter {
  label {
    font-weight: normal;
  }
}

.a-table-date-filter {

  .form-control,
  .form-select,
  #range-wrapper {
    display: block;
  }

  .form-label {
    font-weight: normal;
    margin-bottom: 0.25rem;
    font-size: .9rem;
  }
}
