<div class="main-content" id="lista-ispezioni">
  <h3>Lista Ispezioni</h3>
  <div *ngIf="ispezioni">
    <div class="actions-container table-controls">
      <button type="button" class="btn btn-outline-blue action" routerLink="nuova-ispezione">
        <i class="icon fas fa-plus"></i>
        <span>Nuova Ispezione</span>
      </button>
      <button type="button" class="btn btn-outline-green action" [ngbTooltip]="exportTemplate"
        tooltipClass="table-export-tooltip" triggers="click" container="body">
        <i class="icon fa-regular fa-file-excel"></i>
        <span>Esporta</span>
      </button>
      <ng-template #exportTemplate>
        <div>
          <button type="button" class="btn btn-outline-green action w-100 mb-1" (click)="exportTable()">
            <span>Intera Tabella</span>
          </button>
          <button type="button" class="btn btn-outline-green action w-100" (click)="exportTable(false)">
            <span>Pagina Corrente</span>
          </button>
        </div>
      </ng-template>
    </div>
    <div class="table-wrapper">
      <a-smart-table class="table-blue table-striped-light no-borders" [data]="ispezioni" [paginator]="true"
        id="tabella-ispezioni" #table>
        <ng-template aTemplate="head">
          <tr>
            <th scope="col" width="10%">
              <a-table-sorter type="text" key="codice_ispezione"></a-table-sorter>
              <a-table-filter type="text" key="codice_ispezione"></a-table-filter>
              <span class="label">Codice</span>
            </th>
            <th scope="col" width="15%">
              <a-table-sorter type="text" key="descr_isp"></a-table-sorter>
              <a-table-filter type="text" key="descr_isp"></a-table-filter>
              <span class="label">Descrizione</span>
            </th>
            <th scope="col" width="10%">
              <a-table-sorter type="text" key="descr_ente_isp"></a-table-sorter>
              <a-table-filter type="selection" key="descr_ente_isp" [values]="entiDisponibili"></a-table-filter>
              <span class="label">Ente</span>
            </th>
            <th scope="col" width="10%">
              <a-table-sorter type="text" key="descr_uo_isp"></a-table-sorter>
              <a-table-filter type="text" key="descr_uo_isp"></a-table-filter>
              <span class="label">U.O.</span>
            </th>
            <th scope="col" width="15%">
              <a-table-sorter type="text" key="descr_motivo_isp"></a-table-sorter>
              <a-table-filter type="selection" key="descr_motivo_isp" [values]="motiviDisponibili"></a-table-filter>
              <span class="label">Motivo</span>
            </th>
            <th scope="col" width="10%">
              <a-table-sorter type="text" key="cantiere_o_impresa"></a-table-sorter>
              <a-table-filter type="selection" key="cantiere_o_impresa" values="Cantiere, Impresa"></a-table-filter>
              <span class="label">Tipo</span>
            </th>
            <th scope="col" width="10%">
              <a-table-sorter type="date" key="data_ispezione"></a-table-sorter>
              <a-table-filter type="date" key="data_ispezione"></a-table-filter>
              <span class="label">Data</span>
            </th>
            <th scope="col" width="10%">
              <a-table-sorter type="text" key="descr_ente"></a-table-sorter>
              <a-table-filter type="selection" key="descr_ente" [values]="aslDisponibili"></a-table-filter>
              <span class="label">ASL</span>
            </th>
            <th scope="col" width="10%">
              <a-table-sorter type="text" key="descr_stato_ispezione"></a-table-sorter>
              <a-table-filter type="selection" key="descr_stato_ispezione" [values]="statiDisponibili"></a-table-filter>
              <span class="label">Stato</span>
            </th>
          </tr>
        </ng-template>
        <ng-template aTemplate="body" let-isp #bodyTemplate>
          <tr class="clickable" (click)="openDettaglioIspezione(details, isp)">
            <td>{{ isp.codice_ispezione }}</td>
            <td>{{ isp.descr_isp }}</td>
            <td>{{ isp.descr_ente_isp }}</td>
            <td>{{ isp.descr_uo_isp }}</td>
            <td>{{ isp.descr_motivo_isp }}</td>
            <td>{{ isp.cantiere_o_impresa }}</td>
            <td>{{ isp.data_ispezione | date: "dd-MM-YYYY" }}</td>
            <td>{{ isp.descr_ente }}</td>
            <td>{{ isp.descr_stato_ispezione }}</td>
          </tr>
        </ng-template>
      </a-smart-table>
    </div>
  </div>
</div>

<ng-template #details>
  <a-navigator #ispezioneDetailsNavigator [header]="{ label: 'header', content: header }"
    (dismiss)="dettaglioIspezioneModal?.close()" [views]="[
      { label: 'Ispezione', content: ispezioneDetails },
      { label: 'Fase', content: faseDetails },
      { label: 'Nuova Fase', content: formFase },
      { label: 'Sanzione', content: formSanzione}
    ]">
  </a-navigator>

  <ng-template #header>
    <h3 class="m-0 w-100 d-flex justify-content-between align-items-center" *ngIf="ispezioneAttiva.ispezione">
      <span> Ispezione {{ ispezioneAttiva.ispezione.codice_ispezione }} </span>
      <div class="wrapper" style="font-size: 1.1rem">
        <span class="label" style="margin-right: 0.5rem">Stato</span>
        <span class="value blue-label">{{
          ispezioneAttiva.ispezione.descr_stato_ispezione
          }}</span>
      </div>
    </h3>
  </ng-template>

  <ng-template #ispezioneDetails>
    <div id="dettaglio-ispezione">
      <section class="modal-section" id="ispezione" *ngIf="ispezioneAttiva.ispezione">
        <div class="row modal-section-body">
          <div class="col-lg-6">
            <div class="wrapper">
              <span class="label">ASL</span>
              <span class="value">{{
                ispezioneAttiva.ispezione.descr_ente_isp
                }}</span>
            </div>
            <div class="wrapper">
              <span class="label">Unità Operativa</span>
              <span class="value">{{
                ispezioneAttiva.ispezione.descr_uo_isp
                }}</span>
            </div>
            <div class="wrapper">
              <span class="label">Motivo</span>
              <span class="value">{{
                ispezioneAttiva.ispezione.descr_motivo_isp
                }}</span>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="wrapper">
              <span class="label">Tipo</span>
              <span class="value">{{
                ispezioneAttiva.ispezione.cantiere_o_impresa
                }}</span>
            </div>
            <div class="wrapper">
              <span class="label">Data</span>
              <span class="value">{{
                ispezioneAttiva.ispezione.data_ispezione
                }}</span>
            </div>
          </div>
        </div>
      </section>
      <section class="modal-section" id="cantiere" *ngIf="
          ispezioneAttiva.ispezione &&
          ispezioneAttiva.ispezione.cantiere_o_impresa.toLowerCase() ===
            'cantiere'
        ">
        <div class="row modal-section-header">
          <div class="col-lg">
            <h5>Cantiere</h5>
          </div>
        </div>
        <div class="row modal-section-body">
          <div class="col-lg-6">
            <div class="wrapper">
              <span class="label">Denominazione</span>
              <span class="value">{{
                ispezioneAttiva.cantiere.denominazione
                }}</span>
            </div>
            <div class="wrapper">
              <span class="label">Natura Opera</span>
              <span class="value">{{
                ispezioneAttiva.cantiere.natura_opera
                }}</span>
            </div>
            <div class="wrapper">
              <span class="label">Data</span>
              <span class="value">{{
                ispezioneAttiva.cantiere.data_notifica
                }}</span>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="wrapper">
              <span class="label">Comune</span>
              <span class="value">{{ ispezioneAttiva.cantiere.comune }}</span>
            </div>
            <div class="wrapper">
              <span class="label">Provincia</span>
              <span class="value">{{
                ispezioneAttiva.cantiere.cod_provincia
                }}</span>
            </div>
            <div class="wrapper">
              <span class="label">Indirizzo</span>
              <span class="value">{{ ispezioneAttiva.cantiere.via }} ,
                {{ ispezioneAttiva.cantiere.civico }}</span>
            </div>
          </div>
        </div>
      </section>
      <section class="modal-section" id="note-ispezione"
        *ngIf="ispezioneAttiva.ispezione && ispezioneAttiva.ispezione.note">
        <div class="row modal-section-header">
          <div class="col-lg">
            <h5>Note</h5>
          </div>
        </div>
        <div class="row modal-section-body">
          <div class="col-lg">
            {{ ispezioneAttiva.ispezione.note }}
          </div>
        </div>
      </section>
      <section class="modal-section" id="imprese" *ngIf="ispezioneAttiva.imprese && ispezioneAttiva.imprese">
        <div class="row modal-section-header">
          <div class="col-lg">
            <h5>Imprese Ispezionate</h5>
          </div>
        </div>
        <div class="row modal-section-body">
          <div class="col-lg">
            <table class="table-blue no-borders">
              <thead>
                <tr>
                  <th>Nome Azienda</th>
                  <th>P.IVA</th>
                  <th>Codice fiscale</th>
                  <!--<th>Natura Giuridica</th>-->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let imp of ispezioneAttiva.imprese">
                  <td>{{ imp.nome_azienda }}</td>
                  <td>{{ imp.partita_iva }}</td>
                  <td>{{ imp.codice_fiscale }}</td>
                  <!--<td>{{ imp.abb_natura_giuridica }}</td>-->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
      <section class="modal-section" id="ispettori" *ngIf="
          ispezioneAttiva.nucleo_ispettivo && ispezioneAttiva.nucleo_ispettivo
        ">
        <div class="row modal-section-header">
          <div class="col-lg">
            <h5>Ispettori</h5>
          </div>
        </div>
        <div class="modal-section-body">
          <div class="col-lg">
            <table class="table-blue no-borders">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Cognome</th>
                  <th>Codice Fiscale</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ispettore of ispezioneAttiva.nucleo_ispettivo">
                  <td>{{ ispettore.nome }}</td>
                  <td>{{ ispettore.cognome }}</td>
                  <td>{{ ispettore.codice_fiscale }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
      <section class="modal-section" id="fasi" *ngIf="ispezioneAttiva.fasi && ispezioneAttiva.fasi">
        <div class="row modal-section-header">
          <div class="col-lg">
            <h5 class="d-flex justify-content-between align-items-center">
              <span>Fasi</span>
              <button type="button" class="btn btn-outline-blue icon-only" title="Aggiungi Fase" viewLink="Nuova Fase">
                <i class="icon fas fa-plus"></i>
              </button>
            </h5>
          </div>
        </div>
        <div class="row modal-section-body">
          <div class="col-lg">
            <table class="table-blue no-borders">
              <thead>
                <tr>
                  <th>Data</th>
                  <th>Nome Azienda</th>
                  <th>Descrizione</th>
                  <th>Esito</th>
                </tr>
              </thead>
              <tbody>
                <tr class="clickable" *ngFor="let fase of ispezioneAttiva.fasi"
                  (click)="getFaseInfo(fase.id_ispezione_fase)" viewLink="Fase">
                  <td>{{ fase.data_fase }}</td>
                  <td>{{ fase.nome_azienda }}</td>
                  <td>{{ fase.descr_fase }} {{ fase.altro_esito }}</td>
                  <td>{{ fase.descr_esito_per_fase }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
      <section class="modal-section" id="allegati" *ngIf="ispezioneAttiva.allegati">
        <div class="row modal-section-header">
          <div class="col-lg">
            <h5>Allegati</h5>
          </div>
        </div>
        <div class="row modal-section-body">
          <div class="col-lg">
            <table class="table-blue no-borders"></table>
          </div>
        </div>
      </section>
    </div>
  </ng-template>

  <ng-template #faseDetails>
    <div id="dettaglio-fasi">
      <div *ngIf="faseAttiva">
        <section class="modal-section" id="fase" *ngIf="faseAttiva.fase">
          <div class="row modal-section-header">
            <div class="col-lg">
              <h5>
                <span>Fase</span>
                <span *ngIf="faseAttiva.fase.descr_fase !== ''"> - </span>
                <span>{{ faseAttiva.fase.descr_fase }}</span>
              </h5>
            </div>
          </div>
          <div class="row modal-section-body">
            <div class="col-lg-6">
              <div class="wrapper">
                <span class="label">Data</span>
                <span class="value">{{ faseAttiva.fase.data_fase }}</span>
              </div>
              <div class="wrapper">
                <span class="label">Nome Azienda</span>
                <span class="value">{{ faseAttiva.fase.nome_azienda }}</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="wrapper">
                <span class="label">Descrizione</span>
                <span class="value">{{ faseAttiva.fase.descr_fase }}
                  {{ faseAttiva.fase.altro_esito }}</span>
              </div>
              <div class="wrapper">
                <span class="label">Esito</span>
                <span class="value">{{
                  faseAttiva.fase.descr_esito_per_fase
                  }}</span>
              </div>
            </div>
          </div>
        </section>
        <section class="modal-section" id="note-ispezione-fase" *ngIf="faseAttiva.fase && faseAttiva.fase.note">
          <div class="row modal-section-header">
            <div class="col-lg">
              <h5>Note</h5>
            </div>
          </div>
          <div class="row modal-section-body">
            <div class="col-lg">
              {{ faseAttiva.fase.note }}
            </div>
          </div>
        </section>
        <section class="modal-section" id="persone-sanzionate"
          *ngIf="faseAttiva.personeSanzionate && faseAttiva.personeSanzionate">
          <div class="row modal-section-header">
            <div class="col-lg">
              <h5>Persone Sanzionate</h5>
            </div>
          </div>
          <div class="row modal-section-body">
            <div class="col-lg">
              <table class="table-blue no-borders">
                <thead>
                  <tr>
                    <th>Data</th>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Codice Fiscale</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of faseAttiva.personeSanzionate">
                    <td>{{ p.data_inserimento }}</td>
                    <td>{{ p.nome }}</td>
                    <td>{{ p.cognome }}</td>
                    <td>{{ p.codice_fiscale }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
        <section class="modal-section" id="verbali" *ngIf="faseAttiva.verbali">
          <div class="row modal-section-header">
            <div class="col-lg">
              <h5>Verbali</h5>
            </div>
          </div>
          <div class="row modal-section-body">
            <div class="d-flex" *ngIf="faseAttiva.verbali.length > 0 ? false : true">
              <select #m class="form-select" id="id_modulo" formControlName="id_modulo" (change)="currModulo = m.value"
                [attr.disabled]="faseAttiva.verbali.length > 0 ? true : null">
                <option [value]="null">Seleziona...</option>
                <option *ngFor="let m of moduli" [value]="m.id">{{ m.descr }}</option>
              </select>
              <button (click)="compilaVerbale(currModulo)"
                [attr.disabled]="faseAttiva.verbali.length > 0 ? true : null">
                <i class="fa fa-pencil" aria-hidden="true"></i>Compila
              </button>
            </div>
            <div class="col-lg">
              <table class="table-blue no-borders">
                <thead>
                  <tr>
                    <th>Data</th>
                    <th>Descrizione</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let v of faseAttiva.verbali">
                    <td>{{ v.data }}</td>
                    <td>{{ v.descr_modulo }}</td>
                    <td>
                      <button type="button" (click)="scaricaVerbale(v.id_verbale)">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        Scarica
                      </button>
                      <button (click)="compilaVerbale(v.id_modulo)">
                        <i class="fa fa-pencil" aria-hidden="true"></i>Modifica
                      </button>
                      <button (click)="eliminaVerbale(v.id_verbale)">
                        <i class="fa fa-eraser" aria-hidden="true"></i>Elimina
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
        <section class="modal-section" id="sanzioni">
          <div class="row modal-section-header">
            <div class="col-lg">
              <h5>Sanzioni</h5>
            </div>
          </div>
          <div class="row modal-section-body">
            <div class="col-lg">
              <button type="button" class="btn btn-outline-blue" viewLink="Sanzione">
                <i class="icon fas fa-plus"></i>
                <span class="label">Aggiungi Sanzione</span>
              </button>
            </div>
          </div>
        </section>
      </div>
    </div>
  </ng-template>
</ng-template>

<ng-template #formFase>
  <form-fase-ispezione [data]="ispezioneAttiva" (onSubmit)="insertFase($event)"></form-fase-ispezione>
</ng-template>

<ng-template #formSanzione>
  <app-sanzione></app-sanzione>
</ng-template>
