
#/macchine_difformi/*

**/NodeJsServer/*
!**/NodeJsServer/routes/
**/NodeJsServer/routes/*
!**/NodeJsServer/routes/macchine.js


**/AngularClient/*
!**/AngularClient/src/

**/AngularClient/src/*
!**/AngularClient/src/app/

**/AngularClient/src/app/*
!**/AngularClient/src/app/user/

**/AngularClient/src/app/user/*
!**/AngularClient/src/app/user/ispezioni/

**/AngularClient/src/app/user/ispezioni/macchine.service.ts
!**/AngularClient/src/app/user/ispezioni/macchine.service.ts

**/AngularClient/src/app/user/ispezioni/*
!**/AngularClient/src/app/user/ispezioni/macchine-difformi
!**/AngularClient/src/app/user/ispezioni/nuova-macchina




