<div>
<h1> Informativa sui cookie</h1>

<p>Il portale "G.I.S.A. - Sicurezza e prevenzione sui luoghi di lavoro" utilizza i cookie.</p>

<p>I cookie memorizzati sono utilizzati esclusivamente per motivi tecnici, ovvero per consentire l’autenticazione ad aree riservate, non sono in alcun modo utilizzati per attività di profilazione dei visitatori e non consentono la raccolta di informazioni personali relative agli utenti.</p>

<h5>Rifiuto dei cookie tramite impostazioni del terminale</h5>
<p>L’utente che visita il portale può rifiutare in toto o in parte i cookie inviati sia dal portale che da siti terzi, agendo sulle impostazioni disponibili nel browser utilizzato. Per avere istruzioni specifiche riguardo al proprio browser visualizzare l’help fornito o visitare il sito del relativo produttore. La disabilitazione dei cookie potrebbe impedire il corretto funzionamento di alcuni servizi o la fruizione di alcuni contenuti.</p>

</div>
