#notice-editor {
  background-color: white;
}

#notice-form {
  margin-top: 0px;

  .form-table tr td:first-child {
    width: 33%;
  }

  .form-label {
    margin-bottom: 0;
  }
}

#notice-status-info {
  display: flex;
  position: relative;
  width: 100%;
  padding: .5rem;
  border-radius: var(--border-radius);
  background-color: #0055AF;
  color: whitesmoke;
  left: 0;
  top: 0;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
  font-size: 13pt;
  box-shadow: 0px 4px 4px -4px #9a9a9a;

  #stato-attuale {
    margin-left: 4px;
    font-weight: bold;
  }

  #stati-successivi {
    display: inline-block;
    width: initial;
  }

  button {
    margin: 0 4px;
    background-color: white;
    border-color: var(--black);
    color: var(--black);

    &:hover {
      transform: translateY(-1px);
      box-shadow: 0px 4px 5px -2px var(--black);
      transition: .2s;
    }
  }

  #next-states-wrapper {
    .dropdown-menu {
      padding: 0;
    }

    .dropdown-item {
      margin: 0;
      padding: 0.375rem 1rem;
      transform: none;
      transition: .1s;

      &:hover {
        background-color: var(--blue);
        color: white;
        box-shadow: none;
      }
    }
  }
}

#actions-wrapper {
  margin-left: auto;
}

.btn-scarica {
  background-color: #0055AF;
}

#user-details {
  .form-control {
    display: inline-block;
    margin: 4px 4px;
  }

  div {
    display: flex;
    align-items: center;

    span {
      min-width: max-content;
    }

    .form-control {
      width: -webkit-fill-available;
      width: -moz-available;
    }
  }

  span {
    margin-right: .5rem;
  }

  .read-only {
    margin-left: 6px;
  }
}

#form-header {
  text-align: center;
}

.form-section {
  margin: 20px 0;
}

.form-table {
  border-collapse: collapse;
  width: 100%;
}

.form-table caption {
  font-size: 14pt;
  font-weight: bold;
  text-align: start;
  margin-bottom: 8px;
}

.form-table:not(.table-striped) tr {
  margin: 4px 0;
  background-color: #dfdfdf;
}

.form-section.roles-form-section {
  display: flex;
  flex-wrap: wrap;

  .form-table {
    flex-basis: calc(50% - 8px);
    flex-shrink: 0;
  }
}

.form-section.roles-form-section .form-table:nth-child(odd) {
  margin-right: 8px;
}

.form-section.roles-form-section .form-table:nth-child(even) {
  margin-left: 8px;
}

.form-control[type="number"] {
  text-align: end;
}

.form-table tr td:first-child {
  text-align: end;
}

.form-table {
  caption {
    position: relative;

    .btn {
      position: absolute;
      right: 0;
    }
  }
}

//disabled form styles
#notice-form.disabled {
  .form-table tr td:not(:first-child) {
    background-color: white;
    font-weight: bold;
    color: var(--black);
  }

  #user-details {
    font-weight: bold;
    color: var(--black);

    .label {
      font-weight: normal;
    }

    .wrapper {
      display: flex;

      .label {
        margin: 0 16px;
      }

      .label:first-child {
        margin-left: 0;
      }
    }
  }

  #selected-enterprises {
    thead th {
      font-weight: normal;
    }

    tbody td {
      text-align: start;
      font-weight: bold;
    }
  }
}

@media (min-width: 992px) {

  #civico_notificante,
  #cap_notificante {
    max-width: 80px;
  }
}

@media (max-width: 991.98px) {
  #notice-editor {
    #next-states-wrapper {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
    }

    #status-display {
      margin: .5rem 0;
    }

    #notice-form {
      #user-details {
        .wrapper {
          flex-wrap: wrap;
          flex-direction: column;
          align-items: flex-start;

          .label {
            margin-left: 0
          }
        }

        .virgola {
          display: none;
        }

        input {
          margin: 4px 0;
        }
      }

      .roles-form-section {
        display: flex;
        flex-direction: column;

        .form-table {
          margin: 0;
        }
      }

      #notice-status-info {
        flex-wrap: wrap;
        .btn {
          min-width: 0;
        }
        #status-display {
          order: 0;
          flex: 1 0 100%;
          display: flex;
          justify-content: center;
        }
        #next-states-wrapper {
          order: 1;
          flex: 1 1 0;
          max-width: max-content;
        }
        #other-buttons {
          order: 2;
        }
      }

      #actions-wrapper {
        width: 100%;
        justify-content: space-between;
        margin: 20px 0;
      }

      #selected-enterprises {
        th {
          min-width: 256px;
        }

        #add-impresa {
          display: block;
          position: relative;
          margin-top: 8px;
        }
      }

      .imprese-scroller {
        overflow-x: scroll;
      }
    }
  }
}
