<div class="container box-3d d-block p-3" id="nuova-ispezione" *ngIf="nuovaIspezione">
  <form (submit)="onSubmit($event)">
    <div class="row tabs-container">
      <div class="col-lg tab persistent">
        <div class="tab-content">
          <h4>Ispezione</h4>
          <form-ispezione #formIspezione [data]="nuovaIspezione"></form-ispezione>
          <button class="btn btn-outline-blue d-block ms-auto mt-3">Invia</button>
        </div>
      </div>
      <div class="col-lg tab">
        <div class="tab-content" @formCantiereTrigger
          *ngIf="formIspezione.form.get('ispezione.cantiere_o_impresa')!.value === 'Cantiere'; else elseBlock">
          <form-ricerca-cantiere #formRicercaCantiere></form-ricerca-cantiere>
        </div>
        <ng-template #elseBlock>
          <div class="tab-content" @formImpresaTrigger>
            <form-ricerca-impresa #formRicercaImpresa header="Impresa Ispezionata"></form-ricerca-impresa>
          </div>
        </ng-template>
      </div>
    </div>
  </form>
</div>
