<div class="form-ricerca-impresa" [formGroup]="form">
    <h4 class="d-flex justify-content-between align-items-center">
        <span>{{header}}</span>
        <!-- <span style="font-size: .9rem;">Ricercare un'impresa tramite uno degli appositi campi e selezionarla dalla lista</span> -->
        <button type="button" class="btn btn-outline-blue icon-only" ngbTooltip="Modifica" placement="left" tooltipClass="system-tooltip"
            *ngIf="impresaSelezionata" (click)="reset()">
            <i class="fa-regular fa-pen-to-square"></i>
        </button>
    </h4>
    <div class="form-field">
        <label class="form-label" for="ragione_sociale">Ragione Sociale</label>
        <input class="form-control" id="ragione_sociale" (dataChange)="selezionaImpresa($event)" placeholder="Ricerca per Ragione Sociale"
            [readonly]="impresaSelezionata" [autofiller]="imprese" autofillerKey="ragione_sociale" formControlName="ragione_sociale">
    </div>
    <div class="form-field">
        <label class="form-label" for="partita_iva">P.IVA</label>
        <input class="form-control" id="partita_iva" (dataChange)="selezionaImpresa($event)" placeholder="Ricerca per P.IVA"
            [readonly]="impresaSelezionata" [autofiller]="imprese" autofillerKey="partita_iva" formControlName="partita_iva">
    </div>
    <div class="form-field">
        <label class="form-label" for="codice_fiscale">Codice Fiscale</label>
        <input class="form-control" id="codice_fiscale" (dataChange)="selezionaImpresa($event)" placeholder="Ricerca per Codice Fiscale"
            [readonly]="impresaSelezionata" [autofiller]="imprese" autofillerKey="codice_fiscale" formControlName="codice_fiscale">
    </div>
</div>