#user-notices {
  display: block;

  .table-controls {
    justify-content: flex-start;
    margin-bottom: 8px;
  }

}

@media(max-width: 991.98px) {
  #user-notices {
    background: none;
    border: none;
    box-shadow: none;
  }
}
