<div class="a-deck-filter a-deck-date-filter" *ngIf="filter">
  <div class="form-group">
    <span class="form-label">Modalita'</span>
    <select class="form-select" #select (change)="filter.selectedOption = $any(select.value)">
      <option *ngFor="let opt of filter.options" [value]="opt"> {{ getOptionLabel(opt) }}</option>
    </select>
  </div>
  <div class="form-group" *ngIf="filter.selectedOption !== 'range'; else rangeTemplate">
    <span class="form-label">Valore</span>
    <input type="date" class="form-control" #exactDateInput (change)="filter.exactDate = formatDate(exactDateInput.value)">
  </div>
  <ng-template #rangeTemplate>
      <div class="form-group">
        <span class="form-label">Da</span>
        <input type="date" class="form-control" #startDateInput (change)="filter.startDate = formatDate(startDateInput.value)">
      </div>
      <div class="form-group">
        <span class="form-label">A</span>
        <input type="date" class="form-control" #endDateInput (change)="filter.endDate = formatDate(endDateInput.value)">
      </div>
  </ng-template>
</div>
