<div class="form-fase-ispezione" [formGroup]="form">
  <div *ngIf="form.get('fase')" formGroupName="fase">
    <label for="impresa" class="form-label">Impresa</label>
    <select
      #i
      class="form-select"
      id="id_impresa_sede"
      formControlName="id_impresa_sede"
      (change)="patchValue('impresa', i.value)"
    >
      <option
        *ngFor="let i of impreseSelezionabili"
        [value]="i.id_impresa_sede"
      >
        {{ i.nome_azienda }} - {{ i.partita_iva }} - {{i.codice_fiscale}}
      </option>
    </select>
    <div class="form-field">
      <label for="id_fase_esito" class="form-label">Fase / Esito</label>
      <select
        #s
        class="form-select"
        id="id_fase_esito"
        formControlName="id_fase_esito"
        (change)="patchValue('fase', s.value); currEsito = s.value"
      >
        <optgroup *ngFor="let e of esitiFase" [label]="e.descr">
          <option *ngFor="let c of e.children" [value]="c.id_fase_esito">
            {{ e.descr }} - {{ c.descr_esito_per_fase }} [{{
              c.riferimento_fase_esito
            }}]
          </option>
        </optgroup>
      </select>
    </div>
    <div *ngIf="currEsito == 1 || currEsito == 2" class="form-field">
      <label for="altro_esito" class="form-label">Altro</label>
      <input
        type="text"
        class="form-control"
        id="altro_esito"
        formControlName="altro_esito"
      />
    </div>
    <div class="form-field">
      <label for="data" class="form-label">Data</label>
      <input
        type="date"
        class="form-control"
        id="data"
        formControlName="data_fase"
        (click)="fixPicker($event)"
      />
    </div>
    <!--<div class="form-field">
      <label for="modulo" class="form-label">Verbale</label>
      <div class="row-wrapper">
        <select
          #m
          class="form-select"
          id="id_modulo"
          formControlName="id_modulo"
          (change)="currModulo = m.value"
          [attr.disabled]="fase.idVerbale != null ? true : null"
        >
          <option *ngFor="let m of moduli" [value]="m.id">{{ m.descr }}</option>
        </select>
        <button (click)="compilaVerbale(currModulo)">
          <i class="fa fa-pencil" aria-hidden="true"></i>Compila
        </button>
        <button
          (click)="eliminaVerbale(fase.idVerbale)"
          [attr.disabled]="fase.idVerbale == null ? true : null"
        >
          <i class="fa fa-eraser" aria-hidden="true"></i>Elimina
        </button>
      </div>
    </div> -->
    <div class="form-field">
      <label for="note" class="form-label">Note</label>
      <textarea
        class="form-control no-resize"
        id="note"
        formControlName="note"
        rows="8"
      ></textarea>
    </div>
    <div class="form-field mt-3" *ngIf="showButton">
      <button class="btn btn-outline-blue d-block ms-auto" (click)="submit(); li.scaricaVerbale(fase.idVerbale);">{{ buttonLabel }}</button>
    </div>
  </div>
</div>
