#header {
  .navbar {
    background-color: var(--light-gray-plus);
  }

  .nav-link {
    cursor: pointer;
    transition: .2s;
  }

  .logo-regione {
    max-width: 100px;
  }
}

#navbar-container {
  margin: 0;
  background-color: inherit;
}

.navbar-nav {
  padding: 0;
}

#sub-header {
  background: var(--blue);
  color: white;
  margin: 0;
  padding: .5rem .75rem;
  font-weight: 400;
  width: 100%;

  &>* {
    margin: 0;
    font-weight: inherit;
  }
}

#sub-header-xl {
  display: none;
}

@media (min-width: 992px) {
  .navbar-collapse {
    justify-content: flex-end;
  }

  .navbar-brand {
    pointer-events: none;
  }

  .nav-link {
    border: 1px solid transparent;
    border-radius: .25rem;
    color: var(--black);

    & {
      margin: 0 4px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &:focus,
    &:active {
      box-shadow: 0 0 0px 4px #0055af5c;
    }
  }

  #home-button {
    background-color: var(--blue);
    color: white;
  }
}

#logo-description {
  color: black;
  font-weight: bolder;
}

@media (max-width: 991.98px) {
  #sub-header {
    display: none;
  }

  #header {
    padding: 0;

    .container-fluid {
      padding: 0;
    }

    .navbar {
      padding-bottom: 0;
    }

    .navbar-brand {
      display: flex;
      align-items: center;
      white-space: normal;
      margin: 0;
      pointer-events: none;
    }

    #logo-description {
      padding: 0 15px;
      font-size: smaller;
      color: black;
      font-weight: bolder;
    }

    .logo-regione {
      max-width: 80px;
    }

    #navbar-toggler {
      width: 100%;
      display: flex;
      align-items: center;
      background-color: var(--blue);
      color: white;
      border-radius: 0;

      &:focus {
        box-shadow: none;
      }
    }

    #navbar-toggler,
    .nav-link {
      padding: 0.5rem 0.75rem;
    }

    .nav-item {
      background-color: var(--light-gray-plus);

      &:hover {
        background-color: var(--light-gray);
      }
    }

    .nav-link {
      text-decoration: none;
      color: var(--black);
    }
  }
}

/* .header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 0px 20px;
    display: flex;
    align-items: center;
  }

  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }

  .header a:hover {
    background-color: #ddd;
    color: black;
  }

  .header a.active {
    background-color: #0055AF;
    color: white;
  }

  .header-right {
    float: right;
    margin-left: auto;
  }

  @media (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }

    .header-right {
      float: none;
    }
  }

  .header {
      overflow: hidden;
      background-color: #f1f1f1;
      padding: 0px 10px;
    }

    .header a {
      float: left;
      color: black;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      font-size: 18px;
      line-height: 25px;
      border-radius: 4px;
    }

    .header a.logo {
      font-size: 25px;
      font-weight: bold;
    }

    .header a:hover {
      background-color: #ddd;
      color: black;
    }

    .header a.active {
      background-color: #0055AF;
      color: white;
    }

    .header-right {
      float: right;
    }

    @media (max-width: 500px) {
      .header a {
        float: none;
        display: block;
        text-align: left;
      }

      .header-right {
        float: none;
      }
    } */
